#login-rectangle {
  width: 65%;
  height: 250px;
  background-color: #43464B;
  float:left;
}

#status-rectangle {
  width: 35%;
  height: 250px;
  background-color: #3B3E43;
  float:left;
  color:#D1D1D3;
}

.main-block {
  margin-top: 150px;
  width: 40%;
}

#status-rectangle #info {
  margin-top: 37px;
}

#login-button {
  margin-top: 40px;
  background-color: #11ABB7;
  color: white;
  border: 0px;
  width: 100%;
}

#register-button {
  margin-top: 68px;
  background-color: #11ABB7;
  color: white;
  border: 0px;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#register-rectangle .input {
  margin-bottom: 10px;
  margin-left: 2%;
  width: 90%;
  float:left;
}

#register-rectangle .login-rectangle {
  background-color: #51555c;
}

#register-form {
  width: 65%;
}

#create-account-button {
  margin-top: 40px;
  background-color: #11ABB7;
  color: white;
  border: 0px;
  width: 100%;
}

#create-rectangle {
  width: 35%;
  height: 250px;
  background-color: #3B3E43;
  float:left;
  color:#D1D1D3;
}

.flash-error {
  background-color: #C83F38;
  color:white;
  text-align:center;
}