.navbar-inverse {
  background-color: #313237;
  border-radius: 0px;
  margin-bottom:0;
}

.navbar-inverse .navbar-link {
  color:white;
}

.dropdown-menu, .dropdown-toggle[aria-expanded='true'] {
  background-color: #313237 !important;
}

#main-searchbar {
  margin-left: 27%;
}