.navbar-inverse {
  background-color: #313237;
  border-radius: 0px;
  margin-bottom:0;
}

.navbar-inverse .navbar-link {
  color:white;
}

.dropdown-menu, .dropdown-toggle[aria-expanded='true'] {
  background-color: #313237 !important;
}

@media(max-width: 768px) {
  .navbar-collapse  > .collapsing-element {
    float: left;
    width: 15%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .collapsing-element > a {
    margin-left: 25.8%;
  }
}